.btn {
    font-size: 12pt;
    padding: 8px 12px 8px 12px;
    border-radius: .25rem;
    font-weight: 600;
}

.btn-yellow-fill {
    color: white;
    background-color: $dark-yellow;
    border: 1.5px solid $dark-yellow;

    &:hover {
        color: $dark-yellow;
        background-color: transparent;
    }
}

.btn-yellow-empty {
    color: $dark-yellow;
    background-color: transparent;
    border: 1.5px solid $dark-yellow;

    &:hover {
        color: white;
        background-color: $dark-yellow;
    }
}

.btn-dark-teal-fill {
    color: white;
    background-color: $dark-teal;
    border: 1.5px solid $dark-teal;

    &:hover {
        color: $dark-teal;
        background-color: transparent;
    }
}

.btn-dark-teal-empty {
    color: $dark-teal;
    background-color: transparent;
    border: 1.5px solid $dark-teal;

    &:hover {
        color: white;
        background-color: $dark-teal
    }
}

.btn-teal-fill {
    color: white;
    background-color: $teal;
    border: 1.5px solid $teal;

    &:hover {
        color: $teal;
        background-color: white;
    }
}

.btn-teal-empty {
    color: $teal;
    background-color: transparent;
    border: 1.5px solid $teal;

    &:hover {
        color: white;
        background-color: $teal
    }
}

.divider {
    margin: 45px auto 0;
    width: 60px;
    border-top: 1.5px solid $dark-yellow;
}


.col.card {
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px 25px 50px 25px;
    
    .card-body {
        background-color: $light-gray;
        text-align: left;
        padding : 30px;

        .card-title {
            font-size: 22pt;
        }
    }
}

#form .form-control {
    font-weight: 300;
    border: .75px solid #cececc;
    //padding: 5px;

    &:focus {
        border-color: $teal;
        box-shadow: 0px 1px 1px rgba(155, 234, 209, 0.075) inset, 0px 0px 8px rgba(155, 234, 209, 0.5);
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #cececc;
        opacity: 1; /* Firefox */
      }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cececc;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: #cececc;
      }
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #contact { 
        p, #social {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
