body {
    font-family: 'Source Sans Pro', sans-serif;
    color: $dark-gray;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-semibold {
    font-weight: 600;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 22pt;
}

h4 {
    font-size: 18pt;
}

p {
    font-size: 12pt;
    line-height: 1.25;
}

@media (min-width: 768px) {
    h1 {
        font-size: 48pt;
    }
    
    h2 {
        font-size: 36pt;
    }
    
    h3 {
        font-size: 28pt;
    }
    
    h4 {
        font-size: 22pt;
    } 

    p {
        font-size: 14pt;
    }
}
