body {
  font-family: "Source Sans Pro", sans-serif;
  color: #666460;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 26pt;
}

h3 {
  font-size: 22pt;
}

h4 {
  font-size: 18pt;
}

p {
  font-size: 12pt;
  line-height: 1.25;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48pt;
  }

  h2 {
    font-size: 36pt;
  }

  h3 {
    font-size: 28pt;
  }

  h4 {
    font-size: 22pt;
  }

  p {
    font-size: 14pt;
  }
}
.btn {
  font-size: 12pt;
  padding: 8px 12px 8px 12px;
  border-radius: 0.25rem;
  font-weight: 600;
}

.btn-yellow-fill {
  color: white;
  background-color: #f7e054;
  border: 1.5px solid #f7e054;
}
.btn-yellow-fill:hover {
  color: #f7e054;
  background-color: transparent;
}

.btn-yellow-empty {
  color: #f7e054;
  background-color: transparent;
  border: 1.5px solid #f7e054;
}
.btn-yellow-empty:hover {
  color: white;
  background-color: #f7e054;
}

.btn-dark-teal-fill {
  color: white;
  background-color: #01505b;
  border: 1.5px solid #01505b;
}
.btn-dark-teal-fill:hover {
  color: #01505b;
  background-color: transparent;
}

.btn-dark-teal-empty {
  color: #01505b;
  background-color: transparent;
  border: 1.5px solid #01505b;
}
.btn-dark-teal-empty:hover {
  color: white;
  background-color: #01505b;
}

.btn-teal-fill {
  color: white;
  background-color: #9bead1;
  border: 1.5px solid #9bead1;
}
.btn-teal-fill:hover {
  color: #9bead1;
  background-color: white;
}

.btn-teal-empty {
  color: #9bead1;
  background-color: transparent;
  border: 1.5px solid #9bead1;
}
.btn-teal-empty:hover {
  color: white;
  background-color: #9bead1;
}

.divider {
  margin: 45px auto 0;
  width: 60px;
  border-top: 1.5px solid #f7e054;
}

.col.card {
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px 25px 50px 25px;
}
.col.card .card-body {
  background-color: #f4f4f4;
  text-align: left;
  padding: 30px;
}
.col.card .card-body .card-title {
  font-size: 22pt;
}

#form .form-control {
  font-weight: 300;
  border: 0.75px solid #cececc;
}
#form .form-control:focus {
  border-color: #9bead1;
  box-shadow: 0px 1px 1px rgba(155, 234, 209, 0.075) inset, 0px 0px 8px rgba(155, 234, 209, 0.5);
}
#form .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cececc;
  opacity: 1;
  /* Firefox */
}
#form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cececc;
}
#form .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cececc;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer #contact p, #footer #contact #social {
  display: inline-block;
  vertical-align: middle;
}

body {
  text-align: center;
}

section {
  margin: 0px 25px 0px 25px;
}

.nav-link {
  color: #93918d;
  font-size: 14pt;
}
.nav-link:hover {
  color: #9bead1;
}

.navbar-mobile {
  bottom: 0;
  position: fixed;
}

.navbar {
  display: none;
  padding: 0px 20px 0px 20px;
}
.navbar h1 {
  color: #9bead1;
}

#donate, #sign-up {
  display: none;
}

.last-nav-item {
  display: none;
}

.logo-mobile {
  display: inline;
  text-align: center;
  color: #9bead1;
}

.row-cards {
  display: flex;
  justify-content: center;
  margin: 0;
}

#section-4 {
  margin-left: 125px;
  margin-right: 100px;
}
#section-4 .team-img {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 30px;
  padding: 0;
}
#section-4 .team-row {
  text-align: left;
}
#section-4 h5 {
  margin: 0;
}
#section-4 p {
  margin: 0;
}
#section-4 #position {
  color: #9bead1;
}

#section-5 {
  max-width: 300px;
  margin: 0 auto;
}
#section-5 .btn {
  width: 300px;
  padding: 6px 12px 6px 12px;
}

@media (min-width: 769px) {
  .logo {
    margin-right: 10px;
  }

  .logo-mobile {
    display: none;
  }

  .leave-site {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 10px;
  }

  .navbar {
    display: flex;
    flex-wrap: nowrap;
  }
  .navbar #nav-buttons {
    margin-left: auto;
  }
  .navbar #nav-buttons button {
    margin: 0px 5px 0px 5px;
  }
  .navbar .nav-item {
    margin: 0px 5px 0px 5px;
  }

  .navbar-nav {
    justify-content: space-between;
    flex-grow: 2;
    margin: 0px 40px 0px 40px;
  }

  #section-2 p {
    font-size: 18pt;
  }
}
@media (min-width: 1035px) {
  .last-nav-item {
    display: inline;
  }
}
@media (min-width: 1170px) {
  #sign-up {
    display: inline;
  }
}
@media (min-width: 1289px) {
  #donate {
    display: inline;
  }
}

/*# sourceMappingURL=index.css.map */
