$dark-yellow: #ea6648;
$light-yellow: #f9eeaf;
$light-gray: #f4f4f4;
$medium-gray: #93918d;
$dark-gray: #666460;
$dark-teal: #01505b;
$teal: #7e95cd;
$light-teal: #e1f9ed;

$dark-blue: #202e57;
$light-pink: #f6c7b6;
$light-orange: #f9c1b3;
$medium-orange: #fe8b6b;
