.btn {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12pt;
    padding: 8px 12px 8px 12px;
    border-radius: .25rem;
    font-weight: 600;
}

.btn-white-fill {
    color: #f6c7b6;
    background-color: white;
    border: 1.5px solid white;

    &:hover {
        color: white;
        background-color: transparent;
    }
}
.btn-yellow-fill {
    color: white;
    background-color: $dark-yellow;
    border: 1.5px solid $dark-yellow;

    &:hover {
        color: $dark-yellow;
        background-color: transparent;
    }
}

.btn-yellow-empty {
    color: $dark-yellow;
    background-color: transparent;
    border: 1.5px solid $dark-yellow;

    &:hover {
        color: white;
        background-color: $dark-yellow;
    }
}

.btn-dark-teal-fill {
    color: white;
    background-color: $dark-teal;
    border: 1.5px solid $dark-teal;

    &:hover {
        color: $dark-teal;
        background-color: transparent;
    }
}

.btn-dark-teal-empty {
    color: $dark-teal;
    background-color: transparent;
    border: 1.5px solid $dark-teal;

    &:hover {
        color: white;
        background-color: $dark-teal
    }
}

.btn-teal-fill {
    color: white;
    background-color: $teal;
    border: 1.5px solid $teal;

    &:hover {
        color: $teal;
        background-color: white;
    }
}

.btn-teal-empty {
    color: $teal;
    background-color: transparent;
    border: 1.5px solid $teal;

    &:hover {
        color: white;
        background-color: $teal
    }
}

.divider {
    margin: 45px auto 0;
    width: 300px;
    border-top: 1.5px solid $light-pink;
}


// .col.card {
//     padding-right: 0px;
//     padding-left: 0px;
//     //margin: 0px 10px 0px 0px;
//     border: none;

//     .card-body {
//         text-align: left;
//         padding : 0px;
//         margin: 0px 30px 0px 0px;

//         .card-title {
//             font-size: 20pt;
//             color: $dark-blue;
//         }
//     }
// }

#form .form-control {
    font-weight: 300;
    border: .75px solid #cececc;

    &:focus {
        border-color: $teal;
        box-shadow: 0px 1px 1px rgba(155, 234, 209, 0.075) inset, 0px 0px 8px rgba(155, 234, 209, 0.5);
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #cececc;
        opacity: 1; /* Firefox */
      }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cececc;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: #cececc;
      }
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #contact { 
        p, #social {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

a {
    color: $light-pink;

    &:hover {
        color: $teal;
    }
}
