p {
    margin-bottom: 3px;
}

.btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    padding: 8px 12px 8px 12px;
    border-radius: .25rem;
    font-weight: 600;
}

.btn-white-fill {
    color: #f6c7b6;
    background-color: white;
    border: 1.5px solid white;

    &:hover {
        color: white;
        background-color: transparent;
    }
}
.btn-yellow-fill {
    color: white;
    background-color: $light-orange;
    border: 1.5px solid $light-orange;

    &:hover {
        color: $light-orange;
        background-color: transparent;
    }
}

.btn-yellow-empty {
    color: $dark-yellow;
    background-color: transparent;
    border: 1.5px solid $dark-yellow;

    &:hover {
        color: white;
        background-color: $dark-yellow;
    }
}

.btn-dark-teal-fill {
    color: white;
    background-color: $dark-teal;
    border: 1.5px solid $dark-teal;

    &:hover {
        color: $dark-teal;
        background-color: transparent;
    }
}

.btn-dark-teal-empty {
    color: $dark-teal;
    background-color: transparent;
    border: 1.5px solid $dark-teal;

    &:hover {
        color: white;
        background-color: $dark-teal
    }
}

.btn-teal-fill {
    color: white;
    background-color: $teal;
    border: 1.5px solid $teal;

    &:hover {
        color: $teal;
        background-color: white;
    }
}

.btn-teal-empty {
    color: $teal;
    background-color: transparent;
    border: 1.5px solid $teal;

    &:hover {
        color: white;
        background-color: $teal
    }
}

.divider {
    margin: 45px auto 0;
    width: 300px;
    border-top: 1.5px solid $light-pink;
}


// .col.card {
//     padding-right: 0px;
//     padding-left: 0px;
//     //margin: 0px 10px 0px 0px;
//     border: none;

//     .card-body {
//         text-align: left;
//         padding : 0px;
//         margin: 0px 30px 0px 0px;

//         .card-title {
//             font-size: 20pt;
//             color: $dark-blue;
//         }
//     }
// }

#form .form-control {
    font-weight: 300;
    border: .75px solid #cececc;

    &:focus {
        border-color: $teal;
        box-shadow: 0px 1px 1px rgba(155, 234, 209, 0.075) inset, 0px 0px 8px rgba(155, 234, 209, 0.5);
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #cececc;
        opacity: 1; /* Firefox */
      }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cececc;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: #cececc;
      }
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #contact { 

        p, #social {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

a {
    color: $light-orange;

    &:hover {
        color: $teal;
    }
}

.pink-background {
    background-color: $light-pink;
    margin: 0;
    text-align: left;
    color: white;
    background: $light-pink;
    padding: 150px 150px 150px 150px;
    font-weight: 600;
}

.back-button {
    margin-left: 75px;
    margin-top: 25px;
    color: $medium-gray;
    text-decoration: none;
    width: 200px;
    font-size: 20px;

    &:hover {
        text-decoration: none;
    }
}

#button {  
    background-color: #202e57;
    border: 2px solid #202e57;
    text-decoration: none;
    text-transform: none;
    box-shadow: none;
    font-family: Source Sans Pro;

    &:hover {
        color: #202e57;
        background-color: white;
    }
}

#buttonGray {  
    background-color: #aaaaaa;
    border: 2px solid #aaaaaa;
    text-decoration: none;
    text-transform: none;
    box-shadow: none;

    &:hover {
        color: #aaaaaa;
        background-color: white;
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

label {
    color: #da5c48;
}

#label {
    color: #da5c48;
    font-size: 12.5px;
}

#hoverCard {

    &:hover {
        border-color:#7e9fa8;
    }
}

.navContact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

