body {
  font-family: "Source Sans Pro", sans-serif;
  color: #666460;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26pt;
}

h3 {
  font-size: 22pt;
}

h4 {
  font-size: 18pt;
}

p {
  font-size: 12pt;
  line-height: 1.25;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48pt;
  }

  h2 {
    font-size: 36pt;
  }

  h3 {
    font-size: 28pt;
  }

  h4 {
    font-size: 22pt;
  }

  p {
    font-size: 14pt;
  }
}
.btn {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12pt;
  padding: 8px 12px 8px 12px;
  border-radius: 0.25rem;
  font-weight: 600;
}

.btn-white-fill {
  color: #f6c7b6;
  background-color: white;
  border: 1.5px solid white;
}
.btn-white-fill:hover {
  color: white;
  background-color: transparent;
}

.btn-yellow-fill {
  color: white;
  background-color: #ea6648;
  border: 1.5px solid #ea6648;
}
.btn-yellow-fill:hover {
  color: #ea6648;
  background-color: transparent;
}

.btn-yellow-empty {
  color: #ea6648;
  background-color: transparent;
  border: 1.5px solid #ea6648;
}
.btn-yellow-empty:hover {
  color: white;
  background-color: #ea6648;
}

.btn-dark-teal-fill {
  color: white;
  background-color: #01505b;
  border: 1.5px solid #01505b;
}
.btn-dark-teal-fill:hover {
  color: #01505b;
  background-color: transparent;
}

.btn-dark-teal-empty {
  color: #01505b;
  background-color: transparent;
  border: 1.5px solid #01505b;
}
.btn-dark-teal-empty:hover {
  color: white;
  background-color: #01505b;
}

.btn-teal-fill {
  color: white;
  background-color: #7e95cd;
  border: 1.5px solid #7e95cd;
}
.btn-teal-fill:hover {
  color: #7e95cd;
  background-color: white;
}

.btn-teal-empty {
  color: #7e95cd;
  background-color: transparent;
  border: 1.5px solid #7e95cd;
}
.btn-teal-empty:hover {
  color: white;
  background-color: #7e95cd;
}

.divider {
  margin: 45px auto 0;
  width: 300px;
  border-top: 1.5px solid #f6c7b6;
}

#form .form-control {
  font-weight: 300;
  border: 0.75px solid #cececc;
}
#form .form-control:focus {
  border-color: #7e95cd;
  box-shadow: 0px 1px 1px rgba(155, 234, 209, 0.075) inset, 0px 0px 8px rgba(155, 234, 209, 0.5);
}
#form .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cececc;
  opacity: 1;
  /* Firefox */
}
#form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cececc;
}
#form .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cececc;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer #contact p, #footer #contact #social {
  display: inline-block;
  vertical-align: middle;
}

a {
  color: #f6c7b6;
}
a:hover {
  color: #7e95cd;
}

.pink-background {
  background-color: #f6c7b6;
  margin: 0;
  text-align: left;
  color: white;
  background: #f6c7b6;
  padding: 200px 200px 200px 200px;
  font-weight: 600;
}

body {
  text-align: left;
}

section {
  margin: 0 80px 0 80px;
}

.leave-site {
  visibility: hidden;
}

.logo-mobile img {
  max-width: 150px;
  margin-top: 30px;
}

.nav-link {
  color: #93918d;
  font-size: 14pt;
}
.nav-link:hover {
  color: #7e95cd;
}

.navbar-mobile {
  bottom: 0;
  position: fixed;
}

.navbar {
  display: none;
  margin: 0;
  padding: 0px 20px 0px 20px;
}
.navbar h1 {
  color: #7e95cd;
}

#section-1 {
  color: #202e57;
  text-align: left;
}
#section-1 img {
  margin-bottom: 30px;
  width: 100%;
}
#section-1 .logo-img {
  max-width: 200px;
  padding: 0 0 10px 0;
  margin: 0;
}

#section-2 {
  text-align: center;
}
#section-2 img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#section-3 .col.card {
  padding-right: 0px;
  padding-left: 0px;
  border: none;
}
#section-3 .col.card .card-body {
  text-align: left;
  padding: 0px;
  margin: 0px 30px 0px 0px;
}
#section-3 .col.card .card-body .card-title {
  font-size: 20pt;
  color: #202e57;
}

#donate, #sign-up {
  display: none;
}

.last-nav-item {
  display: none;
}

.logo-mobile {
  display: inline;
  text-align: center;
  color: #7e95cd;
}

.row-cards {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

#section-4 h5 {
  margin: 0;
}
#section-4 p {
  margin: 0;
}
#section-4 #position {
  color: #7e95cd;
}

#meet-the-team {
  line-height: 1;
}
#meet-the-team h3 {
  color: #fe8b6b;
  margin: 50px 0 0px 0;
}
#meet-the-team h5 {
  margin-bottom: 0;
}
#meet-the-team .team-desc {
  margin-bottom: 20px;
  padding-right: 500px;
}
#meet-the-team #position {
  color: #f6c7b6;
  margin-bottom: 0;
}
#meet-the-team .team-img {
  max-width: 175px;
  max-height: 175px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}
#meet-the-team .team-row .team-member {
  margin-bottom: 20px;
}

#section-5 .btn {
  margin-top: 15px;
  font-size: 20px;
  padding: 15px 20px 10px 20px;
}

#section-6 {
  padding: 50px 0 100px 0px;
  text-align: left;
}
#section-6 h4 {
  margin: 0;
}

#what-is-sharespace {
  margin-bottom: 75px;
}
#what-is-sharespace .what-is {
  color: #f9c1b3;
}

#who-are-we {
  margin-top: 75px;
  margin-bottom: 75px;
}
#who-are-we h3 {
  color: #fe8b6b;
}
#who-are-we img {
  max-width: 100%;
}
#who-are-we .row {
  display: flex;
  align-items: center;
}

@media (min-width: 769px) {
  .logo {
    margin: 15px 15px 15px 15px;
    max-width: 150px;
  }

  .logo-mobile {
    display: none;
  }

  .leave-site {
    visibility: visible;
    right: 0;
    position: fixed;
    z-index: 1;
    margin-top: 55px;
    padding-right: 80px;
  }
  .leave-site button {
    padding: 10px 20px 10px 20px;
  }

  .navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
  }
  .navbar img {
    max-height: 80px;
  }
  .navbar #nav-buttons {
    margin-left: auto;
  }
  .navbar #nav-buttons button {
    margin: 0px 5px 0px 5px;
  }
  .navbar .nav-item {
    margin: 0px 5px 0px 5px;
  }

  .navbar-nav {
    justify-content: space-between;
    flex-grow: 2;
    margin: 0px 40px 0px 40px;
  }

  #section-1 {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  #section-1 img {
    padding: 0px 25px 0px 100px;
  }
  #section-1 h2 {
    padding-right: 150px;
  }

  #section-2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
  }
  #section-2 h4 {
    margin-bottom: 0;
    padding-right: 800px;
  }
  #section-2 p {
    margin-top: 10px;
    padding-right: 750px;
  }
  #section-2 img {
    margin: 0;
  }

  #section-3 {
    text-align: left;
    padding-top: 30px;
    margin-top: 50px;
  }

  #section-4 {
    text-align: left;
    margin-top: 50px;
  }
  #section-4 h4 {
    margin-bottom: 20px;
    color: #202e57;
  }
  #section-4 p {
    padding-right: 75px;
    font-size: 16px;
  }
  #section-4 img {
    max-width: 150px;
    max-height: 100px;
  }
  #section-4 .row {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #section-4 .support-cards {
    display: flex;
    flex-wrap: wrap;
  }
  #section-4 .support-cards p {
    padding: 0;
    font-size: 14px;
  }
  #section-4 .support-cards .card {
    border: none;
  }
  #section-4 .support-cards .card .card-title {
    color: #202e57;
  }
  #section-4 .team-row {
    text-align: left;
    margin-right: 15px;
    margin-left: 15px;
  }
  #section-4 .team-row .team-img {
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
  }

  #what-is-sharespace {
    margin-top: 75px;
  }
  #what-is-sharespace p {
    padding-right: 75px;
  }
  #what-is-sharespace .logo-long {
    max-width: 300px;
  }
  #what-is-sharespace .phone-img {
    padding-left: 150px;
  }

  #meet-the-team .team-row {
    margin: 0px 15px 15px 0px;
  }
  #meet-the-team .team-img {
    margin: 0px 15px 15px 30px;
  }

  #dash-sample {
    padding-top: 50px;
    text-align: center;
  }
  #dash-sample img {
    max-width: 1200px;
  }
  #dash-sample h3 {
    color: #202e57;
    margin-top: 20px;
  }
  #dash-sample p {
    text-align: left;
    padding: 0 200px 0 200px;
  }

  #calendar {
    margin-right: 0;
    margin-top: 75px;
  }
  #calendar .row {
    align-items: center;
  }
  #calendar img {
    max-width: 1000px;
    float: right;
  }
  #calendar p {
    margin-bottom: 50px;
  }
  #calendar .btn-yellow-fill {
    margin-right: 20px;
  }

  #host-dash {
    margin-left: 0;
    margin-top: 75px;
  }
  #host-dash .row {
    align-items: center;
  }
  #host-dash img {
    max-width: 1000px;
    float: left;
  }
}
@media (min-width: 1035px) {
  .last-nav-item {
    display: inline;
  }
}
@media (min-width: 1170px) {
  #sign-up {
    display: inline;
  }
}
@media (min-width: 1289px) {
  #donate {
    display: inline;
  }
}

/*# sourceMappingURL=index.css.map */
