@charset "UTF-8";
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #666460;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26pt;
}

h3 {
  font-size: 22pt;
  color: #202e57;
}

h4 {
  font-size: 18pt;
  color: #202e57;
}

h5 {
  font-size: 16pt;
  color: #202e57;
  font-weight: 300;
}

p {
  font-size: 12pt;
  line-height: 1.25;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48pt;
  }

  h2 {
    font-size: 36pt;
  }

  h3 {
    font-size: 28pt;
  }

  h4 {
    font-size: 22pt;
  }

  p {
    font-size: 14pt;
  }
}
p {
  margin-bottom: 3px;
}

.btn {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  padding: 8px 12px 8px 12px;
  border-radius: 0.25rem;
  font-weight: 600;
}

.btn-white-fill {
  color: #f6c7b6;
  background-color: white;
  border: 1.5px solid white;
}
.btn-white-fill:hover {
  color: white;
  background-color: transparent;
}

.btn-yellow-fill {
  color: white;
  background-color: #f9c1b3;
  border: 1.5px solid #f9c1b3;
}
.btn-yellow-fill:hover {
  color: #f9c1b3;
  background-color: transparent;
}

.btn-yellow-empty {
  color: #ea6648;
  background-color: transparent;
  border: 1.5px solid #ea6648;
}
.btn-yellow-empty:hover {
  color: white;
  background-color: #ea6648;
}

.btn-dark-teal-fill {
  color: white;
  background-color: #01505b;
  border: 1.5px solid #01505b;
}
.btn-dark-teal-fill:hover {
  color: #01505b;
  background-color: transparent;
}

.btn-dark-teal-empty {
  color: #01505b;
  background-color: transparent;
  border: 1.5px solid #01505b;
}
.btn-dark-teal-empty:hover {
  color: white;
  background-color: #01505b;
}

.btn-teal-fill {
  color: white;
  background-color: #7e95cd;
  border: 1.5px solid #7e95cd;
}
.btn-teal-fill:hover {
  color: #7e95cd;
  background-color: white;
}

.btn-teal-empty {
  color: #7e95cd;
  background-color: transparent;
  border: 1.5px solid #7e95cd;
}
.btn-teal-empty:hover {
  color: white;
  background-color: #7e95cd;
}

#btn-drk-blue-fill {
  color: white;
  background-color: #202e57;
  border: 1.5px solid #202e57;
  text-transform: none;
}
#btn-drk-blue-fill:hover {
  color: #202e57;
  background-color: white;
}

.divider {
  margin: 45px auto 0;
  width: 300px;
  border-top: 1.5px solid #f6c7b6;
}

#form .form-control {
  font-weight: 300;
  border: 0.75px solid #cececc;
}
#form .form-control:focus {
  border-color: #7e95cd;
  box-shadow: 0px 1px 1px rgba(155, 234, 209, 0.075) inset, 0px 0px 8px rgba(155, 234, 209, 0.5);
}
#form .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cececc;
  opacity: 1;
  /* Firefox */
}
#form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cececc;
}
#form .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cececc;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer #contact p, #footer #contact #social {
  display: inline-block;
  vertical-align: middle;
}

a {
  color: #f9c1b3;
}
a:hover {
  color: #7e95cd;
}

.pink-background {
  background-color: #f6c7b6;
  margin: 0;
  text-align: left;
  color: white;
  background: #f6c7b6;
  padding: 150px 150px 150px 150px;
  font-weight: 600;
}

.back-button {
  margin-left: 75px;
  margin-top: 25px;
  color: #93918d;
  text-decoration: none;
  width: 200px;
  font-size: 20px;
}
.back-button:hover {
  text-decoration: none;
}

#button {
  background-color: #202e57;
  border: 2px solid #202e57;
  text-decoration: none;
  text-transform: none;
  box-shadow: none;
  font-family: Source Sans Pro;
  color: white;
}
#button:hover {
  color: #202e57;
  background-color: white;
}

#buttonGray {
  background-color: #aaaaaa;
  border: 2px solid #aaaaaa;
  text-decoration: none;
  text-transform: none;
  box-shadow: none;
  color: white;
}
#buttonGray:hover {
  color: #aaaaaa;
  background-color: white;
}

a:hover {
  text-decoration: none;
}

label {
  color: #da5c48;
}

#label {
  color: #da5c48;
  font-size: 12.5px;
}

#hoverCard:hover {
  border-color: #7e9fa8;
}

.navContact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .card-img-top {
  margin: 20px;
  width: 75%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #666460;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26pt;
}

h3 {
  font-size: 22pt;
  color: #202e57;
}

h4 {
  font-size: 18pt;
  color: #202e57;
}

h5 {
  font-size: 16pt;
  color: #202e57;
  font-weight: 300;
}

p {
  font-size: 12pt;
  line-height: 1.25;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48pt;
  }

  h2 {
    font-size: 36pt;
  }

  h3 {
    font-size: 28pt;
  }

  h4 {
    font-size: 22pt;
  }

  p {
    font-size: 14pt;
  }
}
p {
  margin-bottom: 3px;
}

.btn {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  padding: 8px 12px 8px 12px;
  border-radius: 0.25rem;
  font-weight: 600;
}

.btn-white-fill {
  color: #f6c7b6;
  background-color: white;
  border: 1.5px solid white;
}
.btn-white-fill:hover {
  color: white;
  background-color: transparent;
}

.btn-yellow-fill {
  color: white;
  background-color: #f9c1b3;
  border: 1.5px solid #f9c1b3;
}
.btn-yellow-fill:hover {
  color: #f9c1b3;
  background-color: transparent;
}

.btn-yellow-empty {
  color: #ea6648;
  background-color: transparent;
  border: 1.5px solid #ea6648;
}
.btn-yellow-empty:hover {
  color: white;
  background-color: #ea6648;
}

.btn-dark-teal-fill {
  color: white;
  background-color: #01505b;
  border: 1.5px solid #01505b;
}
.btn-dark-teal-fill:hover {
  color: #01505b;
  background-color: transparent;
}

.btn-dark-teal-empty {
  color: #01505b;
  background-color: transparent;
  border: 1.5px solid #01505b;
}
.btn-dark-teal-empty:hover {
  color: white;
  background-color: #01505b;
}

.btn-teal-fill {
  color: white;
  background-color: #7e95cd;
  border: 1.5px solid #7e95cd;
}
.btn-teal-fill:hover {
  color: #7e95cd;
  background-color: white;
}

.btn-teal-empty {
  color: #7e95cd;
  background-color: transparent;
  border: 1.5px solid #7e95cd;
}
.btn-teal-empty:hover {
  color: white;
  background-color: #7e95cd;
}

#btn-drk-blue-fill {
  color: white;
  background-color: #202e57;
  border: 1.5px solid #202e57;
  text-transform: none;
}
#btn-drk-blue-fill:hover {
  color: #202e57;
  background-color: white;
}

.divider {
  margin: 45px auto 0;
  width: 300px;
  border-top: 1.5px solid #f6c7b6;
}

#form .form-control {
  font-weight: 300;
  border: 0.75px solid #cececc;
}
#form .form-control:focus {
  border-color: #7e95cd;
  box-shadow: 0px 1px 1px rgba(155, 234, 209, 0.075) inset, 0px 0px 8px rgba(155, 234, 209, 0.5);
}
#form .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cececc;
  opacity: 1;
  /* Firefox */
}
#form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cececc;
}
#form .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cececc;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer #contact p, #footer #contact #social {
  display: inline-block;
  vertical-align: middle;
}

a {
  color: #f9c1b3;
}
a:hover {
  color: #7e95cd;
}

.pink-background {
  background-color: #f6c7b6;
  margin: 0;
  text-align: left;
  color: white;
  background: #f6c7b6;
  padding: 150px 150px 150px 150px;
  font-weight: 600;
}

.back-button {
  margin-left: 75px;
  margin-top: 25px;
  color: #93918d;
  text-decoration: none;
  width: 200px;
  font-size: 20px;
}
.back-button:hover {
  text-decoration: none;
}

#button {
  background-color: #202e57;
  border: 2px solid #202e57;
  text-decoration: none;
  text-transform: none;
  box-shadow: none;
  font-family: Source Sans Pro;
  color: white;
}
#button:hover {
  color: #202e57;
  background-color: white;
}

#buttonGray {
  background-color: #aaaaaa;
  border: 2px solid #aaaaaa;
  text-decoration: none;
  text-transform: none;
  box-shadow: none;
  color: white;
}
#buttonGray:hover {
  color: #aaaaaa;
  background-color: white;
}

a:hover {
  text-decoration: none;
}

label {
  color: #da5c48;
}

#label {
  color: #da5c48;
  font-size: 12.5px;
}

#hoverCard:hover {
  border-color: #7e9fa8;
}

.navContact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .card-img-top {
  margin: 20px;
  width: 75%;
}

#situation h4 {
  text-align: center;
}
#situation .card {
  border: 1px solid #f6c7b6;
  height: 475px;
}
#situation .card:hover {
  border: 1px solid #7e95cd;
}

#place-to-stay .card-body {
  text-align: center;
  padding: 0 0 10px 0px;
  font-weight: 300;
  font-size: 20px;
}
#place-to-stay .btn {
  float: right;
  padding: 10px 25px 10px 25px;
}

.concerns {
  flex-wrap: wrap;
}

.orgs p {
  padding: 0;
  margin: 0;
}
.orgs a {
  color: #7e95cd;
}

.calendar {
  width: 100%;
  margin: 0px 20px;
  font-weight: 300;
}
.calendar .rbc-btn-group button {
  color: white;
  background-color: #202e57;
  border: 1.25px solid #202e57;
  border-radius: 4px;
  margin: 0px 5px;
  font-size: 10pt;
  padding: 6px 10px;
}
.calendar .rbc-toolbar-label {
  font-size: 20pt;
  font-weight: 400;
  color: #202e57;
}

.rbc-day-bg {
  border: 0.5px solid #d4dbee;
  margin: 2.5px;
  border-radius: 4px;
  padding: 10px;
}

.rbc-month-row {
  border: none;
}

.rbc-off-range-bg {
  background-color: lightgray;
}

.rbc-row-content {
  color: #01505b;
}

.rbc-time-view {
  border-radius: 6px;
}

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: #919FBC;
}

.rbc-header {
  overflow: hidden;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0;
}

.rbc-rtl .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-content {
  position: relative;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc-today {
  background-color: #d4dbee;
}

.rbc-toolbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.rbc-toolbar .rbc-toolbar-label {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
}

.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: white;
  border-color: #202e57;
  color: #202e57;
}

.rbc-toolbar button:active:hover,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:focus {
  color: #202e57;
  background-color: white;
  border-color: #202e57;
}

.rbc-toolbar button:focus {
  color: #202e57;
  background-color: white;
  border-color: #202e57;
}

.rbc-toolbar button:hover {
  color: #202e57;
  background-color: white;
  border-color: #202e57;
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
}

.rbc-btn-group button + button {
  margin-left: -1px;
}

.rbc-rtl .rbc-btn-group button + button {
  margin-left: 0;
  margin-right: -1px;
}

.rbc-btn-group + .rbc-btn-group,
.rbc-btn-group + button {
  margin-left: 10px;
}

.rbc-event {
  padding: 2px 5px;
  background-color: #202e57;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.rbc-slot-selecting .rbc-event {
  cursor: inherit;
  pointer-events: none;
}

.rbc-event-label {
  font-size: 80%;
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rbc-row-segment {
  padding: 0 1px 1px 1px;
}

.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1);
}

.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal;
  white-space: nowrap;
}

.rbc-month-view {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
}

.rbc-month-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rbc-month-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  -webkit-flex-basis: 0px;
  -ms-flex-preferred-size: 0px;
  flex-basis: 0px;
  overflow: hidden;
}

.rbc-date-cell {
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  min-width: 0;
  margin-right: 10px;
  margin-top: 5px;
  text-align: right;
}

.rbc-date-cell.rbc-now {
  font-weight: bold;
}

.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-bg {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  overflow: hidden;
}

.rbc-day-bg {
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
}

.rbc-agenda-view {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  overflow: auto;
}

.rbc-agenda-view table.rbc-agenda-table {
  width: 100%;
  border: 1px solid #DDD;
  border-spacing: 0;
  border-collapse: collapse;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-top: 1px solid #DDD;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
}

.rbc-agenda-time-cell .rbc-continues-after:after {
  content: " »";
}

.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: "« ";
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  width: 100%;
}

.rbc-time-column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.rbc-time-column .rbc-timeslot-group {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #DDD;
  min-height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.rbc-label {
  padding: 0 5px;
}

.rbc-day-slot {
  position: relative;
}

.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
}

.rbc-day-slot .rbc-events-container.rbc-is-rtl {
  left: 10px;
  right: 0;
}

.rbc-day-slot .rbc-event {
  border: 1px solid #265985;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  min-height: 20px;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}

.rbc-day-slot .rbc-event-label {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  padding-right: 5px;
  width: auto;
}

.rbc-day-slot .rbc-event-content {
  width: 100%;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: white;
  border-right: 1px solid #DDD;
  z-index: 10;
  margin-right: -1px;
}

.rbc-time-view-resources .rbc-time-header {
  overflow: hidden;
}

.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  -webkit-flex-basis: 0px;
  -ms-flex-preferred-size: 0px;
  flex-basis: 0px;
}

.rbc-time-view-resources .rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px;
}

.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  width: 140px;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  -webkit-flex-basis: 0 px;
  -ms-flex-preferred-size: 0 px;
  flex-basis: 0 px;
}

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px;
}

.rbc-time-slot {
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}

.rbc-time-slot.rbc-now {
  font-weight: bold;
}

.rbc-day-header {
  text-align: center;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  width: 100%;
  padding: 3px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  border: 1px solid #DDD;
  min-height: 0;
}

.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
}

.rbc-time-view .rbc-allday-cell {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
  border-left: 1px solid #DDD;
}

.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 4;
}

.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: 20px;
}

.rbc-time-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #DDD;
}

.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid #DDD;
}

.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid #DDD;
}

.rbc-time-header > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #DDD;
}

.rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-header-content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-time-header-content {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-time-header-content > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #DDD;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.rbc-time-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid #DDD;
  overflow-y: auto;
  position: relative;
}

.rbc-time-content > .rbc-time-gutter {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.rbc-time-content > * + * > * {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-time-content > .rbc-day-slot {
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none;
}

.DateRangePicker {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.DateRangePicker__Legend {
  color: #52575e;
  font-size: 14px;
  line-height: 16px;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.DateRangePicker__LegendItem {
  display: inline-block;
  margin: 0 20px;
}

.DateRangePicker__LegendItemColor {
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  margin-right: 6px;
  vertical-align: text-bottom;
  width: 14px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.DateRangePicker__LegendItemColor--selection {
  background-color: #7e95cd;
}

.DateRangePicker__PaginationArrow {
  border: 0;
  cursor: pointer;
  display: block;
  height: 35px;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 35px;
  z-index: 1;
}

.DateRangePicker__PaginationArrow--previous {
  left: 20px;
}

.DateRangePicker__PaginationArrow--next {
  right: 20px;
}

.DateRangePicker__PaginationArrow:hover {
  background-color: #ccc;
}

.DateRangePicker__PaginationArrowIcon {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  height: 0;
  position: absolute;
  top: 10px;
  width: 0;
}

.DateRangePicker__PaginationArrowIcon--is-disabled {
  opacity: 0.25;
}

.DateRangePicker__PaginationArrowIcon--previous {
  border-left: 8px solid transparent;
  border-right: 8px solid #202e57;
  right: 11px;
}

.DateRangePicker__PaginationArrowIcon--next {
  border-left: 8px solid #202e57;
  border-right: 8px solid transparent;
  left: 11px;
}

.DateRangePicker__Month {
  color: #202e57;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 360px;
}

.DateRangePicker__MonthHeader {
  color: #202e57;
  font-size: 14px;
  font-weight: 400;
  height: 35px;
  line-height: 35px;
  position: relative;
  text-align: center;
}

.DateRangePicker__MonthHeaderLabel {
  display: inline-block;
  position: relative;
}

.DateRangePicker__MonthHeaderSelect {
  background: #e4e4e4;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.DateRangePicker__MonthDates {
  border-bottom: 1px solid #f4f5f6;
  border-collapse: separate;
  border-spacing: 0 1px;
  margin: 0;
  width: 100%;
}

.DateRangePicker__WeekdayHeading, .DateRangePicker__Date {
  font-size: 12px;
  line-height: 1;
  padding: 10px 0;
  text-align: center;
  width: 14.2857142857%;
}

.DateRangePicker__WeekdayHeading {
  color: #202e57;
  font-weight: 400;
}

.DateRangePicker__WeekdayHeading abbr[title] {
  border-bottom-width: 0;
  color: #202e57;
  cursor: pointer;
  font-size: inherit;
  text-decoration: none;
}

.DateRangePicker__Date {
  border-right-width: 1px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.DateRangePicker__Date:first-child {
  border-left-width: 1px;
}

.DateRangePicker__Date--otherMonth {
  opacity: 0.25;
}

.DateRangePicker__Date--is-disabled {
  cursor: default;
}

.DateRangePicker__Date--is-selected {
  color: #fff;
}

.DateRangePicker__Date--is-highlighted {
  color: #333;
}

.DateRangePicker__CalendarDatePeriod {
  bottom: 0;
  position: absolute;
  top: 0;
}

.DateRangePicker__CalendarDatePeriod--am {
  left: 0;
  right: 50%;
}

.DateRangePicker__CalendarDatePeriod--pm {
  left: 50%;
  right: 0;
}

.DateRangePicker__CalendarSelection {
  background-color: #7e95cd;
  border: 1px solid #7e95cd;
  bottom: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 5px;
}

.DateRangePicker__CalendarSelection--inOtherMonth {
  opacity: 0.5;
}

.DateRangePicker__CalendarSelection--start {
  border-bottom-left-radius: 5px;
  border-right-width: 0;
  border-top-left-radius: 5px;
  left: 5px;
}

.DateRangePicker__CalendarSelection--end {
  border-bottom-right-radius: 5px;
  border-left-width: 0;
  border-top-right-radius: 5px;
  right: 5px;
}

.DateRangePicker__CalendarSelection--segment {
  border-left-width: 0;
  border-right-width: 0;
}

.DateRangePicker__CalendarSelection--single {
  border-radius: 5px;
  left: 5px;
  right: 5px;
}

.DateRangePicker__CalendarSelection--is-pending {
  background-color: #7e95cd;
  border-width: 0;
}

.DateRangePicker__CalendarHighlight {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  bottom: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 5px;
}

.DateRangePicker__CalendarHighlight--inOtherMonth {
  opacity: 0.5;
}

.DateRangePicker__CalendarHighlight--start {
  border-bottom-left-radius: 5px;
  border-right-width: 0;
  border-top-left-radius: 5px;
  left: 5px;
}

.DateRangePicker__CalendarHighlight--end {
  border-bottom-right-radius: 5px;
  border-left-width: 0;
  border-top-right-radius: 5px;
  right: 5px;
}

.DateRangePicker__CalendarHighlight--segment {
  border-left-width: 0;
  border-right-width: 0;
}

.DateRangePicker__CalendarHighlight--single {
  background-color: #fff;
  border: 1px solid #7e95cd;
  border-radius: 5px;
  left: 5px;
  right: 5px;
}

.DateRangePicker__HalfDateStates {
  bottom: -50px;
  left: -50px;
  position: absolute;
  right: -50px;
  top: -50px;
  transform: rotate(30deg);
}

.DateRangePicker__FullDateStates {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
}

.DateRangePicker__DateLabel {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}

body {
  text-align: left;
}

section {
  margin: 0 80px 0 80px;
}

.leave-site {
  visibility: hidden;
}

.logo-mobile img {
  max-width: 150px;
  margin-top: 30px;
}

.nav-item {
  color: #7e95cd;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15pt;
  font-weight: 300;
}
.nav-item:hover {
  color: #fe8b6b;
}

.navbar-mobile {
  bottom: 0;
  position: fixed;
}

.navbar {
  display: none;
  margin: 0;
  padding: 0px 20px 0px 20px;
  border-bottom: 0.25px solid #d3dbee;
}
.navbar h1 {
  color: #7e95cd;
}

#section-1 {
  color: #202e57;
  text-align: left;
}
#section-1 img {
  margin-bottom: 30px;
  width: 100%;
}
#section-1 .logo-img {
  max-width: 200px;
  padding: 0 0 10px 0;
  margin: 0;
}

#section-2 {
  text-align: center;
}
#section-2 img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#section-3 .col.card {
  padding-right: 0px;
  padding-left: 0px;
  border: none;
}
#section-3 .col.card .card-body {
  text-align: left;
  padding: 0px;
  margin: 0px 30px 0px 0px;
}
#section-3 .col.card .card-body .card-title {
  font-size: 20pt;
  color: #202e57;
}

#donate, #sign-up {
  display: none;
}

.last-nav-item {
  display: none;
}

.logo-mobile {
  display: inline;
  text-align: center;
  color: #7e95cd;
}

.row-cards {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

#section-4 h5 {
  margin: 0;
}
#section-4 p {
  margin: 0;
}
#section-4 #position {
  color: #7e95cd;
}

#meet-the-team {
  line-height: 1;
}
#meet-the-team h3 {
  color: #fe8b6b;
  margin: 50px 0 0px 0;
}
#meet-the-team h5 {
  margin-bottom: 0;
}
#meet-the-team .team-desc {
  margin-bottom: 20px;
  padding-right: 500px;
}
#meet-the-team #position {
  color: #f6c7b6;
  margin-bottom: 0;
}
#meet-the-team .team-img {
  max-width: 175px;
  max-height: 175px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}
#meet-the-team .team-row .team-member {
  margin-bottom: 20px;
}

#section-5 .btn {
  margin-top: 15px;
  font-size: 20px;
  padding: 15px 20px 10px 20px;
}

#section-6 {
  padding: 50px 0 100px 0px;
  text-align: left;
}
#section-6 h4 {
  margin: 0;
}

#what-is-sharespace {
  margin-bottom: 75px;
}
#what-is-sharespace .what-is {
  color: #f9c1b3;
}

#who-are-we {
  margin-top: 75px;
  margin-bottom: 75px;
}
#who-are-we h3 {
  color: #fe8b6b;
}
#who-are-we img {
  max-width: 75%;
  float: right;
}
#who-are-we .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .logo {
    margin: 15px 15px 15px 15px;
    max-width: 150px;
  }

  .logo-mobile {
    display: none;
  }

  .leave-site {
    visibility: visible;
    right: 0;
    position: fixed;
    z-index: 1;
    margin-top: 55px;
    padding-right: 80px;
  }
  .leave-site button {
    padding: 10px 20px 10px 20px;
  }

  .navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
  }
  .navbar img {
    max-height: 80px;
  }
  .navbar #nav-buttons {
    margin-left: auto;
  }
  .navbar #nav-buttons button {
    margin: 0px 5px 0px 5px;
  }
  .navbar .nav-item {
    margin: 0px 25px 0px 10px;
    flex-grow: 1;
  }

  .navbar-nav {
    justify-content: space-between;
    flex-grow: 1;
    margin: 0px 40px 0px 40px;
  }

  #section-1 {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  #section-1 img {
    padding: 0px 25px 0px 100px;
  }
  #section-1 h2 {
    padding-right: 150px;
  }

  #section-2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
  }
  #section-2 h4 {
    margin-bottom: 0;
    padding-right: 80px;
  }
  #section-2 img {
    margin: 0;
  }
  #section-2 .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #section-3 {
    text-align: left;
    padding-top: 30px;
    margin-top: 50px;
  }

  #section-4 {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #section-4 h4 {
    margin-bottom: 20px;
    color: #202e57;
  }
  #section-4 p {
    padding-right: 75px;
    font-size: 16px;
  }
  #section-4 img {
    max-width: 150px;
    height: auto;
  }
  #section-4 .row {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: flex-start;
  }
  #section-4 .org {
    margin-top: 50px;
    align-items: center;
  }
  #section-4 .support-cards {
    display: flex;
    flex-wrap: wrap;
  }
  #section-4 .support-cards p {
    padding: 0;
    font-size: 14px;
  }
  #section-4 .support-cards .card {
    border: none;
    margin-bottom: 20px;
  }
  #section-4 .support-cards .card .card-img-top {
    max-width: 100px;
    margin: 10px;
  }
  #section-4 .support-cards .card .card-title {
    color: #202e57;
  }
  #section-4 .support-cards .card .card-body {
    padding: 10px;
  }
  #section-4 .team-row {
    text-align: left;
    margin-right: 15px;
    margin-left: 15px;
  }
  #section-4 .team-row .team-img {
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
  }

  #what-we-do .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #what-we-do .graphic1 {
    float: right;
  }

  #what-is-sharespace {
    margin-top: 75px;
  }
  #what-is-sharespace .row {
    display: flex;
    align-items: center;
  }
  #what-is-sharespace p {
    padding-right: 75px;
  }
  #what-is-sharespace .logo-long {
    max-width: 300px;
  }
  #what-is-sharespace .phone-img {
    padding-left: 50px;
    max-width: 600px;
  }
  #what-is-sharespace button {
    margin-top: 10px;
  }

  #meet-the-team .team-row {
    margin: 0px 15px 15px 0px;
  }
  #meet-the-team .team-img {
    margin: 0px 15px 15px 30px;
  }

  #dash-sample {
    padding-top: 50px;
    text-align: center;
  }
  #dash-sample img {
    max-width: 1200px;
  }
  #dash-sample h3 {
    color: #202e57;
    margin-top: 20px;
  }
  #dash-sample p {
    text-align: left;
    padding: 0 200px 0 200px;
  }

  #calendar {
    margin-right: 0;
    margin-top: 75px;
  }
  #calendar .row {
    align-items: center;
  }
  #calendar img {
    max-width: 1000px;
    float: right;
  }
  #calendar p {
    margin-bottom: 50px;
  }
  #calendar .btn-yellow-fill {
    margin-right: 20px;
  }

  #host-dash {
    margin-left: 0;
    margin-top: 75px;
  }
  #host-dash .row {
    align-items: center;
  }
  #host-dash img {
    max-width: 1000px;
    float: left;
  }

  #analytics {
    margin-right: 0;
    margin-top: 75px;
  }
  #analytics .row {
    align-items: center;
  }
  #analytics img {
    max-width: 1000px;
    float: right;
  }
}
/* for side bar (Min actually use css instead of inline sometimes... LOL) */
#side {
  height: 100vh;
  width: 30vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-outline-date {
  background-color: #202e57;
  color: white;
  border: 1px solid #202e57;
}
#button-outline-date:hover {
  color: #202e57;
  background-color: white;
}

#tags {
  color: #da5c48;
}

#date {
  color: #aaaaaa;
}

/* for search */
input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: white url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #7e9fa8;
  padding: 5px 5px 5px 32px;
  width: 100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

input[type=search]:focus {
  width: 400px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

#back {
  color: #aaaaaa;
}
#back:hover {
  color: #da5c48;
}

#situation .card, #place-to-stay .card {
  align-content: center;
  max-width: 500px;
  margin-right: 30px;
}
#situation .card .card-img-top, #place-to-stay .card .card-img-top {
  margin-left: auto;
  margin-right: auto;
}

#place-to-stay {
  margin: 75px;
}

/*# sourceMappingURL=index.css.map */
